
.im + img{
    width: 250px;
    height: 170px;
}
.card{
    background-color: black;
    color: white;
}
.card-header{
    background-color: beige;
    color: black;
}
.details{
    display: flex;
    margin-left: 10px;
     flex-direction: column;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content:flex-start;
}
.card{
    margin-bottom: 15px;
}
h1{
    color: rgb(255, 255, 255);
    background-color: black;
    margin-bottom: 40px;
}
.skill{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.skill>p{
    margin: 10px;
}